* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-seri f;
}

.App {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 40px;
}

 button {
  border: none;
  padding: 10px;
  outline: none;
}

body, html {
  height: 100%;
}

.bg {
  /* background-image: url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1067&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1542625704-d9d6cb9b69b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1516&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1546098073-e1df70b3bc7c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1575&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typewriter {
  font-family: 'UbuntuBold', arial, sans-serif;
   font-weight: 700;
   font-style: normal;
  border-right: solid 3px rgb(46, 26, 26);
  /* font-family: "Roboto","Montserrat", sans-serif; */
  white-space: nowrap;
  overflow: hidden;    
  
  font-size: 29px;
  font-weight: 500;
  color: rgb(46, 26, 26);
}

.typewriter {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgb(46, 26, 26);}
  to{border-right-color: transparent;}
}
